/* css styles */

/* Center the navbar */
.navbar-nav {
  flex: 1;
  justify-content: center;
}

.navbar-brand {
  margin-right: auto;
}

div.quarto-post {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

div.thumbnail {
  margin-top: 0rem;
  margin-bottom: 1rem;
}